/* paleta kolorów */

:root {
	--main-font-color: #2e2f42;
	--logo-blue: #4d5ae5;
	--background-white: #ffffff;
	--links-color: #434455;
	--background-our-team: #f4f4fd;
	--hero-background: #2e2f42;
	--hero-button: #4d5ae5;
	--portfolio-font: #4d5ae5;
	--portfolio-button: #e7e9fc;
	--portfolio-button-active: #404bbf;
}

/* style globalne */

body {
	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none;
	color: var(--links-color);
}
ul {
	font-style: normal;
	list-style-type: none;
}
button {
	cursor: pointer;
}
h1 {
	color: var(--background-white);
	font-weight: 700;
	font-size: 56;
	line-height: 1, 07;
	letter-spacing: 2%;
}

h2 {
	color: var(--hero-background);
	font-weight: 700;
	font-size: 36;
	line-height: 1, 11;
	letter-spacing: 2%;
}

h3 {
	color: var(--hero-background);
	font-weight: 500;
	font-size: 20;
	line-height: 1, 2;
	letter-spacing: 2%;
}

/* header - logo */

.brand-logo {
	font-family: Raleway;
	font-weight: 800;
	font-size: 18;
	line-height: 1, 17;
	letter-spacing: 3%;
}
.brand-logo_blue {
	color: var(--logo-blue);
}
.brand-logo_black {
	color: var(--main-font-color);
}

/* nawigacja nagłówka */

.header-nav {
	font-weight: 500;
	font-size: 16;
	line-height: 1, 5;
	letter-spacing: 2%;
}

/* kontakty w nagłówku */

.header-contacts {
	font-size: 16;
	line-height: 1, 5;
	letter-spacing: 2%;
}

/* hero */

.hero-background {
	background-color: var(--hero-background);
}
.hero-button {
	color: var(--background-white);
	background-color: var(--hero-button);
	font-weight: 500;
	font-size: 16;
	line-height: 1, 5;
	letter-spacing: 2%;
}

/* Main Page section 1 */

.section1-content {
	color: var(--links-color);
	font-size: 16;
	line-height: 1, 5;
	letter-spacing: 2%;
}

/* Main Page - section 3 */

.team-position {
	color: var(--links-color);
	font-size: 16;
	line-height: 1, 5;
	letter-spacing: 2%;
}

/* footer */

.footer-contents {
	color: var(--background-our-team);
	font-weight: 400;
	font-size: 16;
	line-height: 1, 5;
	letter-spacing: 2%;
}
.footer-background {
	background-color: var(--hero-background);
}
.brand-logo_white {
	color: var(--background-our-team);
}

/* Portfolio */
/* Filters*/

.portfolio-button {
	color: var(--hero-button);
	background-color: var(--portfolio-button);
	font-weight: 500;
	font-size: 16;
	line-height: 1, 5;
	letter-spacing: 4;
}
